body{
    background-color: rgb(255, 241, 252);
    background-repeat: no-repeat;
    background-size: cover;


}
.tete{
   display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#logo{
    font-size: 25px;
   margin-right: 400px;
   margin-left: 50px;
  
   margin-bottom: 50px;
   margin-top: 50px;


}
.barre{
    margin-left: 200px;
    margin-right: 60px;
    height: 55px;
    width: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#container{
    position: absolute;
    top: 50px;
    right: 0;
    margin-right: 600px;
    height: 100px;
    margin-bottom: 500px;
}
.img{
    width: 700px;
    height: 650px;
    margin-bottom: 500px;
    margin-left: 500px;
    margin-top: 80px;
    
}
#h1{
    margin-left: 800px;
    margin-top: 100px;
    font-size: 50px;
 

}
#h2{
    margin-left: 850px;
    font-size: 50px;
    margin-bottom: 20px;
    color: brown;
}
.p{
    margin-left: 800px;
    font-size: 20px;
    
}
.container{
    background-color: brown;
    margin-top: 200px;
    height: 200px;
}
#tainer{
    background-color: rgb(0, 0, 0);
    margin-top: -20px;
    height: 250px;
   
}
.p1{
    margin-left: 600px;
    color: aliceblue;
    font-size: 25px; 
    padding-top: 100px;  
    font-family: 'Times New Roman', Times, serif;
}
.P2{
    margin-left: 500px;
    color: aliceblue;
    font-size: 20px;
    padding-top: 30px;   
}
#P3{
    text-align: center;
    color: aliceblue;
    margin-left: 100px;
    font-size: 20px;
}
.button{
    margin-left: 900px; 
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 25px;  
}
.zey{
    margin-left: 500px;
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 100px;
    text-align: center;
    margin-right: 340px;
    margin-top: 80px;
    


}
#zey{
    color: rgb(79, 79, 200);
}
#nab{
    color: rgb(79, 79, 200);
}